@{
    ViewData["Title"] = "My information";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["StudentInfo"]</h1>

</div>
<div class="container">

    <div class="row p-2">
        <div class="col-6 text-center">
            <a asp-action="MyMarks">
                <div style="width:95%" class="btn btn-light p-5"> <!-- MYMARKS-->
                    <h2 class="pb-4">My Marks </h2>
                    <h3>Average: @ViewData["AvgMark"]</h3>
                </div>
            </a>
        </div>

        <div class="col-6 text-center">
            <a asp-action="MyExams">
                <div style="width:95%" class="btn btn-light p-5">
                    <h2 class="pb-4">My Exams</h2>
                    <h3> Incoming Tests: @ViewData["incExams"]</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-6 text-center">
            <a asp-action="MyAbsences">
                <div style="width:95%" class="btn btn-light p-5">   
                    <h2 class="pb-4">My Absences </h2>
                    <h3>
                        <span class="text-success">@ViewData["pardoned"]</span>
                            / 
                        <span class="text-danger">@ViewData["unPardoned"]</span> 
                    </h3>
                </div>
            </a>
        </div>

        <div class="col-6 text-center">
            <a asp-action="MyRemarks">
                <div style="width:95%" class="btn btn-light p-5">  
                    <h2 class="pb-4">My Remarks </h2>
                    <h3>
                        <span class="text-success">@ViewData["positiveRemarks"]</span>
                        /
                        <span class="text-danger">@ViewData["negativeRemarks"]</span>
                    </h3>
                </div>
            </a>
        </div>

    </div>
</div>
