@model IEnumerable<WebClassbook.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Students" asp-action="MyExams" method="get">
    <p>
        Subject:  <input class="form-control-sm" type="text" name="SearchString" />
        <input class="btn btn-light" type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Name)
                </td>
            </tr>
        }
    </tbody>
</table>