@model IEnumerable<WebClassbook.Models.Mark>

@{
    ViewData["Title"] = "My Marks";
}

<h1>My Marks</h1>
<form id="searchForm" asp-controller="Students" asp-action="MyMarks" method="get">
    <p>
        Subject:  <input id="searchBar" class="form-control-sm" type="text" name="SearchString" />
        <input class="btn btn-light" type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.ApplicationUser.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<form id="pageForm" asp-controller="Students" asp-action="MyMarks" method="get">
    <input id="secretSearchBar" class="d-none" type="text" name="SearchString" />
    @for (int i = 1; i < Math.Ceiling(Convert.ToDouble(ViewData["ItemsCount"].ToString()) / int.Parse(ViewData["ITEMS_PER_PAGE"].ToString())) + 1; i++)
    {
        
        <input class="btn btn-light d-inline" type="submit" name="currentPage" value="@i" />
    }
</form>

<script>
    window.onload = function () {
        const urlSearchParams = new URLSearchParams(window.location.search);
        let searchBar = urlSearchParams.get('SearchString');
        document.forms['searchForm']['searchBar'].value = searchBar;
        document.forms['pageForm']['secretSearchBar'].value = searchBar;
    }
</script>