@model IEnumerable<WebClassbook.Models.Remark>

@{
    ViewData["Title"] = "My Remarks";
}

<h1>My Remarks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPositive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPositive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="pageForm" asp-controller="Students" asp-action="MyExams" method="get">
    <input id="secretSearchBar" class="d-none" type="text" name="SearchString" />
    @for (int i = 1; i < Math.Ceiling(Convert.ToDouble(ViewData["ItemsCount"].ToString()) / int.Parse(ViewData["ITEMS_PER_PAGE"].ToString())) + 1; i++)
    {

        <input class="btn btn-light d-inline" type="submit" name="currentPage" value="@i" />
    }
</form>