@model IEnumerable<WebClassbook.Models.Mark>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Marks" asp-action="Index" method="get">
    <p>
        Student Name:  <input class="form-control-sm" type="text" name="SearchString" />
        <input class ="btn btn-light" type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.ClassNumber)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.ClassNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.ApplicationUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Name)
            </td>
            <td class="text-center">
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.MarkID">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MarkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (User.IsInRole("Teacher"))
{
    <a class="btn btn-light" asp-action="StudentsList">Add mark</a>
}
